.px1 {
  padding-left: 1rem;
}
.Container{ 
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.DictionaryContainer{
  display: flex;    
  flex-direction: column;
  padding: 0 300px;
  
}
.Title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.SpanText{
  color: #000000;
  font-weight: 700;
}
.WordContainer{
    display: flex;
    font-size: 25px;
    padding: 0 150px;
    text-transform: uppercase;
    justify-content: space-between;
    margin: 5px;
}
.InputContainer{
   display: flex;
   justify-content: center;
   margin-top:50px
    
}
.InputForm{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Btn{
    width: 200px;
    height: 50px;
    border: #ff6d00;
    background-color: #ff6d00 ;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.Test{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mrt{
  margin-top: 50px;
}
.TestContainer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.TestForm{
  background-color: #001d38;
  padding: 20px;
  color: #ffffff;
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  flex-direction: column;
}
.ResultForm{
  background-color: #001d38;
  color: #ffffff;
  width: 550px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.Question{  
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.AnswerFrom{
  margin-top: 75px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
.Answer{
  color: #ffffff;
  font-weight: 700;
}
